@import url(./importacoes.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../IMG/login/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;    
    min-width: 100vh;
    min-height: 100vh;
    font-family: "Alexandria", sans-serif;
}

main{
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
    animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) both;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.login-container{
    background-color: #d9d9d9;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 50vh;
    height: 60vh;
    border-radius: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}